.testrepository
*.pyc
.tox
*.egg-info
.eggs
.pex
AUTHORS
ChangeLog
etc/gnocchi/gnocchi.conf
gnocchi/rest/gnocchi-api
doc/build
doc/source/rest.rst
doc/source/pex.rst
doc/source/gnocchi.conf.sample
releasenotes/build
cover
.coverage
dist
!doc/source/dist
doc/source/dist/gnocchi-*
upgrade/
