.stestr
*.pyc
.tox
*.egg-info
.eggs/
AUTHORS
ChangeLog
etc/gnocchi/gnocchi.conf
gnocchi/rest/gnocchi-api
doc/build
doc/source/rest.rst
doc/source/gnocchi.conf.sample
releasenotes/build
cover
.coverage
dist
upgrade/
/build

# Ignore the IDE files
.idea
