[project]
	description = Timeseries database
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gord chung (chungg)
[access "refs/for/refs/*"]
	read = group user/gord chung (chungg)
	push = group user/gord chung (chungg)
	label-Code-Review = -2..+2 group user/gord chung (chungg)
	label-Verified = -1..+1 group user/gord chung (chungg)
	rebase = group user/gord chung (chungg)
	removeReviewer = group user/gord chung (chungg)
	submit = group user/gord chung (chungg)
[access "refs/heads/*"]
	read = group user/gord chung (chungg)
	create = group user/gord chung (chungg)
	push = +force group user/gord chung (chungg)
	pushMerge = group user/gord chung (chungg)
[access "refs/tags/*"]
	push = group user/gord chung (chungg)
	push = +force group user/gord chung (chungg)
