numpy
oslo.config<1.10.0,>=1.9.3
oslo.db<1.8.0,>=1.7.0
oslo.log<1.1.0,>=1.0.0
oslo.policy>=0.3.0
oslo.serialization<1.5.0,>=1.4.0
oslo.utils<1.5.0,>=1.4.0
oslosphinx>=2.2.0  # Apache-2.0
pandas
pecan!=0.8
python-swiftclient
pytimeparse
# pytimeparse misses this dep for now
future
futures
requests
six
sqlalchemy
sqlalchemy-utils
stevedore
tooz>=0.4
voluptuous
werkzeug
Jinja2
PyYAML
sysv_ipc
msgpack-python
retrying
pytz
WebOb>=1.4.1
