babel
iso8601
lockfile>=0.9.1
netaddr
oslo.config
oslotest
pandas<0.14  # Until https://github.com/pydata/pandas/issues/7284 is fixed
pecan<0.6.0
posix_ipc
python-swiftclient
six
sqlalchemy
stevedore
tooz
voluptuous
werkzeug
