http://tarballs.openstack.org/ceilometer/ceilometer-master.tar.gz#egg=ceilometer
gabbi>=0.6.0
coverage>=3.6
fixtures
keystonemiddleware
mock
MySQL-python
oslotest
sphinx
python-subunit>=0.0.18
psycopg2
tempest-lib>=0.2.0
testrepository
testscenarios
testtools>=0.9.38
WebTest>=2.0.16
doc8
sphinxcontrib-httpdomain
