
WSGIDaemonProcess gnocchi lang='en_US.UTF-8' locale='en_US.UTF-8' user=%USER% display-name=%{GROUP} processes=%APIWORKERS% threads=32 %VIRTUALENV%
WSGIProcessGroup gnocchi
WSGIScriptAlias %SCRIPT_NAME% %WSGI%
<Location %SCRIPT_NAME%>
    WSGIProcessGroup gnocchi
    WSGIApplicationGroup %{GLOBAL}
</Location>

WSGISocketPrefix /var/run/%APACHE_NAME%
