Listen %GNOCCHI_PORT%
<VirtualHost *:%GNOCCHI_PORT%>
    WSGIDaemonProcess gnocchi user=%USER% display-name=%{GROUP} processes=2 threads=10.
    WSGIScriptAlias / %WSGI%
    WSGIProcessGroup gnocchi
    WSGIApplicationGroup %{GLOBAL}


    ErrorLog /var/log/%APACHE_NAME%/gnocchi.log
    CustomLog /var/log/%APACHE_NAME%/gnocchi-access.log combined

</VirtualHost>

