name: Gnocchi CI Image

on:
  workflow_dispatch:
  push:
    paths:
      - 'images/Dockerfile.ci'
      - 'images/entrypoint.sh.ci'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v2
        with:
          context: ./images
          file: ./images/Dockerfile.ci
          push: true
          tags: ghcr.io/gnocchixyz/ci:4.5
