{% extends "basic.j2" %}

{% block body %}
<div class="container-fluid">
  <div class="page-header">
    <h1>Resource {{ data.id }}</h1>
  </div>

  <div class="page-body">
    <dl>
      {% for key, value in data.items() %}
        <dt>{{ key|e }}</dt>
        <dd>{{ value|e }}</dd>
      {% endfor %}
    </dl>
    </div>
  </div>

{% endblock body %}
